.AboutPage {
    width: 100%;
    height: 93vh;
    top: 7vh;
    display: none;
    z-index: 100;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    transition: 0.35s;

    .AboutContent {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 30px 50px;
        align-items: center;
        position: relative;

        .Head {
            display: flex;
            flex-direction: row;
            text-align: center;
            h1 {
                margin: 0;
                font-size: 45px;
            }

            a {
                position: absolute;
                margin: 0;
                right: 30px;
            }
        }

        h1 {
            font-size: 2.5vw;
        }
        h2 {
            font-size: 2vw;
        }
        p {
            font-size: 1.6vw;
            margin: 0;
        }

        @media only screen and (max-width: 950px) {
            h1 {
                font-size: 26px;
            }
            h2 {
                font-size: 21px;
            }
            p {
                font-size: 16px;
            }
        }

        @media only screen and (max-width: 700px)  {
            width: 300px;

            h1 {
                font-size: 22px;
            }
            h2 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
    }

}