.Cart {
    height: 93vh;
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: rgb(174, 174, 174);
    overflow-x: hidden;
    transition: 0.35s;
    padding-top: 70px;

    @media only screen and (min-height: 715px)  {
        top: 50px;
        height: calc(100% - 50px);
    }

    p {
        font-size: 18px;
    }
}