.Cart {
    height: 93vh;
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: rgb(174, 174, 174);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;


    p {
        font-size: 18px;
    }
}