.ProfileCard {
    margin: 0;
    padding: 30px 40px;
	display: flex;
	flex-direction: column;
	color: #fff;
    text-align: left;
	width: 50%;
	background-color: #53585b;
	height: auto;
	overflow: hidden;
	background-size: cover;

	@media only screen and (max-width: 900px) {
		width: 100%;
	}

    .intro {
        padding: 0;
        display: flex;
	    flex-direction: row;

        .profileImage {
            padding: 0;
            width: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-blend-mode: multiply;
            transition: background-color 0.3s;

            img {
                object-fit: cover;
                width:150px;
                height:150px;
                border-radius: 10%;
            }

            &:hover {
                background-color: transparent;
                transition: background-color 0.3s;
            }
        }

        .details {
            padding: 0;
            padding-left: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
                margin: 0;
                font-size: 25px;
            }

            p {
                margin: 0;
                font-size: 18px;
            }

            @media only screen and (max-width: 900px) {
                h4 {
                    font-size: larger;
                }
                p {
                    font-size: large;
                }
            }

            .contactLinks {
                margin: 0;
                display: flex;
                flex-direction: col;

                a {
                    margin-right: 11px;
                }
            }
        }
    }

	.description {
		width:  100%;
        min-height: 250px;
		position: static;
		flex-direction: column;
		display: flex;

        h2 {
            font-size: 25px;
        }

		p {
            margin: 0;
			font-size: 20px;
            white-space: pre-wrap;
		}

        @media only screen and (max-width: 700px) {
            h2 {
                font-size: 22px;
            }
            p {
                font-size: 18px;
            }
        }
	}
}
