body {
  margin: 0;
  font-family: 'Chillax-Regular';
  src: url('./Components/fonts/chillax.css');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin: 0;
  font-family:'Chillax-Light';
  src: url('./Components/fonts/chillax.css');
}